@model ProyectoFinal.Areas.Admin.Models.ViewModels.AgregarImagenSlider
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	ViewData["Title"] = "AgregarImagenIndex";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AgregarJugador</title>
	<link rel="stylesheet" href="~/estilos/estiloadm.css">
</head>
<body>
	<header>
		<img class="LogoEquipo" src="~/Imagenes/logo.png" alt="Logo Equipo">
		<a>Administrador</a>
	</header>
	<main>
		<div class="ContenedorFormulario">
			<form method="post" action="~/Admin/Home/AgregarImagenIndex" enctype="multipart/form-data" class="FormularioJugador">

				<label for="Imagen">Imagen:</label>
				<input asp-for="@Model.Imagen" type="file" id="imagenjugador">


				<label for="nombre">Nombre:</label>
				<input asp-for="@Model.Sliders.NombreDelSlider" type="text">

				<button type="submit">Guardar</button>
				<div class="errores"></div>
				@Html.ValidationSummary()
			</form>
		</div>

	</main>
</body>
</html>