<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>olimposquad</title>
    <link rel="stylesheet" href="~/estilos/estilos.css">
</head>
<body>
    <header>
        <div class="linksizq">
            <a href="~/Home/Index" class="selected">Inicio</a>
            <a href="~/Home/Jugadores">Jugadores</a>
        </div>
        <img class="LogoEquipo" src="~/Imagenes/logo.png" alt="Logo Equipo">
        <div class="social-media">
            <a href="https://twitter.com" target="_blank">
                <img src="~/LogosRedesSociales/LogoTwitter.png" alt="Twitter">
            </a>
            <a href="https://instagram.com" target="_blank">
                <img src="~/LogosRedesSociales/LogoInstagram.png" alt="Instagram">
            </a>
            <a href="https://youtube.com" target="_blank">
                <img src="~/LogosRedesSociales/LogoYoutube.png" alt="YouTube">
            </a>
        </div>
    </header>
    <main>
        <div class="ContenedorImagenJugador">
            <img src="~/Imagenes/Jugadores/jugadores.png">
        </div>

        <div class="Ultimasnovedades">
            <a class="textoultimasnovedades">Ultimas Novedades</a>
            <section class="slides">
                <img src="~/Imagenes/ImagenesSlider/Campeones.png" />
                <img src="~/Imagenes/ImagenesSlider/Finalpresencial.png" />
                <img src="~/Imagenes/ImagenesSlider/lucastop3.png" />
                <img src="~/Imagenes/ImagenesSlider/Wearehere.png" />
            </section>
        </div>

    </main>
</body>
</html>

